body {
background-color: #FFFFFF;
color: #;
font-family: ;
margin: ;
line-height: ;
}

h1 {
background-color: ;
color: ;
padding: ;
border-radius: ;
text-align: ;
font-size: ;
}

h2 {
color: ;
font-size: ;
border-bottom: ;
padding-bottom: ;
margin-top: ;
}
